/*
 * Copyright (c) 2026 Eve Redero
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/* STM32 DAC audio playback codec on DAC_OUT1 (PA4), streamed on DMA1. */

&dac1 {
	status = "okay";
	pinctrl-0 = <&dac_out1_pa4>;
	pinctrl-names = "default";
};

&timers6 {
	status = "okay";

	counter {
		status = "okay";
	};
};

&dma1 {
	status = "okay";
};

/ {
	aliases {
		codec0 = &audio_dac0;
	};

	audio_dac0: audio-dac {
		compatible = "st,stm32-dac-audio";
		io-channels = <&dac1 1>;
		st,dac-trigger-timer = <&timers6>;
		st,dac-trigger-source = "TIM6_TRGO";
		dmas = <&dma1 5 7
			(STM32_DMA_PERIPH_TX | STM32_DMA_16BITS | STM32_DMA_PRIORITY_HIGH)
			0>;
	};
};